.env
secrets.json

Cyberpunk_2077_Steam_Reviews.csv
Cyberpunk_2077_Steam_Reviews.xlsx
cyberpunk_reviews.zip

logs/
*.out
*.err

__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store

venv/
env/
.venv/
prompt_lab/
archive/
*.log
team*_run.log
team*_async.log
team*_experiment.log
experiment.log

datasets/chroma_db/
datasets/reviews/
datasets/chroma_db_backup_*/

models/

.vscode/

# Ignore CSV results in team folders
static_rag/*.csv
static_zero_shot/*.csv
time_aware_rag/*.csv